.u-section-1 .u-sheet-1 {
  min-height: 145px;
}

.u-section-1 .u-text-1 {
  margin: 68px -21px 41px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 213px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 1px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 36px;
}.u-section-3 .u-sheet-1 {
  min-height: 14px;
}.u-section-4 .u-sheet-1 {
  min-height: 162px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-2 {
  margin: 21px 0 36px;
}.u-section-5 .u-sheet-1 {
  min-height: 162px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 21px 0 36px;
}.u-section-6 .u-sheet-1 {
  min-height: 214px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 22px 0 37px;
}.u-section-7 .u-sheet-1 {
  min-height: 342px;
}

.u-section-7 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 22px 0 37px;
}.u-section-8 .u-sheet-1 {
  min-height: 242px;
}

.u-section-8 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 24px 0 35px;
}.u-section-9 .u-sheet-1 {
  min-height: 242px;
}

.u-section-9 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 24px 0 35px;
}.u-section-10 .u-sheet-1 {
  min-height: 13px;
}.u-section-11 .u-sheet-1 {
  min-height: 215px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 24px 0 35px;
}.u-section-12 .u-sheet-1 {
  min-height: 215px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  margin: 24px 0 35px;
}.u-section-13 .u-sheet-1 {
  min-height: 131px;
}

.u-section-13 .u-text-1 {
  margin: 0;
}

.u-section-13 .u-text-2 {
  margin: 24px 0 53px;
}.u-section-14 .u-sheet-1 {
  min-height: 215px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

.u-section-14 .u-text-2 {
  margin: 24px 0 35px;
}.u-section-15 .u-sheet-1 {
  min-height: 234px;
}

.u-section-15 .u-text-1 {
  margin: 0;
}

.u-section-15 .u-text-2 {
  margin: 25px 0 53px;
}.u-section-16 .u-sheet-1 {
  min-height: 235px;
}

.u-section-16 .u-text-1 {
  margin: 0;
}

.u-section-16 .u-text-2 {
  margin: 26px 0 54px;
}.u-section-17 .u-sheet-1 {
  min-height: 237px;
}

.u-section-17 .u-text-1 {
  margin: 0;
}

.u-section-17 .u-text-2 {
  margin: 26px 0 55px;
}.u-section-18 .u-sheet-1 {
  min-height: 363px;
}

.u-section-18 .u-text-1 {
  margin: 0;
}

.u-section-18 .u-text-2 {
  margin: 27px 0 60px;
}.u-section-19 .u-sheet-1 {
  min-height: 371px;
}

.u-section-19 .u-text-1 {
  margin: 0;
}

.u-section-19 .u-text-2 {
  margin: 29px 0 58px;
}.u-section-20 .u-sheet-1 {
  min-height: 371px;
}

.u-section-20 .u-text-1 {
  margin: 0;
}

.u-section-20 .u-text-2 {
  margin: 29px 0 58px;
}.u-section-21 .u-sheet-1 {
  min-height: 372px;
}

.u-section-21 .u-text-1 {
  margin: 0;
}

.u-section-21 .u-text-2 {
  margin: 30px 0 59px;
}.u-section-22 .u-sheet-1 {
  min-height: 348px;
}

.u-section-22 .u-text-1 {
  margin: 0;
}

.u-section-22 .u-text-2 {
  margin: 30px 0 60px;
}.u-section-23 .u-sheet-1 {
  min-height: 399px;
}

.u-section-23 .u-text-1 {
  margin: 0;
}

.u-section-23 .u-text-2 {
  margin: 30px 0 60px;
}.u-section-24 .u-sheet-1 {
  min-height: 246px;
}

.u-section-24 .u-text-1 {
  margin: 0;
}

.u-section-24 .u-text-2 {
  margin: 30px 0 60px;
}.u-section-25 .u-sheet-1 {
  min-height: 246px;
}

.u-section-25 .u-text-1 {
  margin: 0;
}

.u-section-25 .u-text-2 {
  margin: 30px 0 60px;
}.u-section-26 .u-sheet-1 {
  min-height: 185px;
}

.u-section-26 .u-text-1 {
  margin: 0;
}

.u-section-26 .u-text-2 {
  margin: 30px 0 50px;
}.u-section-27 .u-sheet-1 {
  min-height: 186px;
}

.u-section-27 .u-text-1 {
  margin: 0;
}

.u-section-27 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-27 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 186px;
}

.u-section-28 .u-text-1 {
  margin: 0;
}

.u-section-28 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-28 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-29 .u-sheet-1 {
  min-height: 186px;
}

.u-section-29 .u-text-1 {
  margin: 0;
}

.u-section-29 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-29 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-30 .u-sheet-1 {
  min-height: 186px;
}

.u-section-30 .u-text-1 {
  margin: 0;
}

.u-section-30 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-30 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-31 .u-sheet-1 {
  min-height: 186px;
}

.u-section-31 .u-text-1 {
  margin: 0;
}

.u-section-31 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-31 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-32 .u-sheet-1 {
  min-height: 186px;
}

.u-section-32 .u-text-1 {
  margin: 0;
}

.u-section-32 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-32 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-33 .u-sheet-1 {
  min-height: 186px;
}

.u-section-33 .u-text-1 {
  margin: 0;
}

.u-section-33 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-33 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-34 .u-sheet-1 {
  min-height: 186px;
}

.u-section-34 .u-text-1 {
  margin: 0;
}

.u-section-34 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-34 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-35 .u-sheet-1 {
  min-height: 186px;
}

.u-section-35 .u-text-1 {
  margin: 0;
}

.u-section-35 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-35 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-36 .u-sheet-1 {
  min-height: 186px;
}

.u-section-36 .u-text-1 {
  margin: 0;
}

.u-section-36 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-36 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-37 .u-sheet-1 {
  min-height: 186px;
}

.u-section-37 .u-text-1 {
  margin: 0;
}

.u-section-37 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-37 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-38 .u-sheet-1 {
  min-height: 186px;
}

.u-section-38 .u-text-1 {
  margin: 0;
}

.u-section-38 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-38 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-39 .u-sheet-1 {
  min-height: 186px;
}

.u-section-39 .u-text-1 {
  margin: 0;
}

.u-section-39 .u-text-2 {
  margin: 30px 0 51px;
}

@media (max-width: 767px) {
  .u-section-39 .u-text-1 {
    margin-top: 60px;
  }
}