.u-section-1 .u-sheet-1 {
  min-height: 1666px;
}

.u-section-1 .u-text-1 {
  margin: 60px -1px 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 506px;
  height: 300px;
  margin: 0 65px 0 -1px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 301px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 40px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 64px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-1 .u-image-2 {
  width: 1090px;
  height: 613px;
  margin: 27px 50px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 529px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-1 .u-text-3 {
    margin: 13px 24px -13px 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-right: 0;
    margin-bottom: -9px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 106px;
}

.u-section-2 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 0 1px;
}.u-section-3 .u-sheet-1 {
  min-height: 1289px;
}

.u-section-3 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-6 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-11 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-12 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-13 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-14 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-15 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-16 {
  margin: 5px 0 0;
}

.u-section-3 .u-text-17 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-18 {
  margin: 7px 0 0;
}

.u-section-3 .u-text-19 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-20 {
  margin: 6px 0 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 361px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 5px 0 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 56px;
}